<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Autonoma*</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<style>

  .semiopacity {
	 opacity: 0.1;  
	}

.bottom {
   	width: 1770px;
    height: 129px;
   	background-color: #dedede;
   }

   .block1 {
   	width: 1750px;
      height: 903px;
   	background: #f0f0f0;
   	padding: 0px;
   	background-color: #ebebeb;
      font-family: Verdana;
   }

</style>

<body bgcolor="#dedede">


	<div class="header">

		<p>

		</p>
	</div>


<div id="navbar">
	<a href="index.html">CAR4R3NT</a>

<a href="Kā rezervēt automašīnu.html">Kā rezervēt automašīnu</a>
<a href="Autonomas automašīnas.html">Autonomas automašīnas</a>
<a href="Autonomas noteikumi.html">Autonomas noteikumi</a>
<a href="Autonomas kontakti.html">Autonomas kontakti</a>
<a href="Autonomas cenas.html">Autonomas cenas</a>

</div></br>




		<div class="block1" float="center" height="1000px">



				<h1>
				<font face="Trebuchet MS" color="265C55"></font>
			</h1><br><br>

				<div class="semiopacity">
				<img src="background.jpg" ; width="1750" height="941" hspace="60" style="position:absolute;
				left:px; top:20px"><br><br></div>

<center>
		<p class="dline"><font face="Trebuchet MS" size="6">
		<h1 >Autonomas noteikumi</h1></br>
		</p></font><br><br><br></br></br>
</center>



		<p class="dline"><font face="Trebuchet MS" size="4" style="position:absolute;
				left:80px; top:125px">
	<h1>Norēķinu veids:</h1></br></br></p>

	Apmaksu par autonomu var veikt ar sekojošām kredītkartēm:</br>
	VISA,VISA ELEKTRON, MASTERCARD, MAESTRO. Paredzamā autonomas maksa un drošības nauda tiek priekšautorizēti uz nomnieka kredītkartes</br> pie automašīnas saņemšanas. </br>
	DROŠĪBAS NAUDA ir 100 € apmērā. Drošības nauda tiek rezervēta no VISA un MASTERCARD (diemžēl nepieņemam MAESTRO, VISA ELEKTRON un AMEX)</br></br>
 

<h3>Personu apliecinoši dokumenti:</h3></br>
<p class="dline"><font face="Trebuchet MS" size="4">Nomniekam jāuzrāda pase un autovadītāja apliecība.</br>
Vadītāja stāžs - 2 gadi. Ja vadītāja stāžs ir mazāks par 2 gadiem, tiek aprēķināts papildus maksājums 8 € dienā.</br>
Papildus vadītājs:</br>
19 € par katru nomas līgumā norādīto autovadītāju.</br>
Auto apdrošināšana:</br>
Maksimāla atbildības samazināšana bojājumu gadījumā (SCDW): Pēc klienta vēlmēm var tikt samazināta atbildība par iznomātajai automašīnai nodarītajiem bojājumiem no 430 € līdz 0 €.</br> Šajā gadījumā klientam ir jāveic atbildības samazināšanas maksājums, kas ir atkarīgs no auto iznomāšanas dienu skaita.</br>
1- 3 dienas – 9 €;      4 - 7 dienas - 8 €;        8 - 29 dienas - 6 €;       30 - un vairāk dienas - 2 €</br></br>
</p>

<h3>Vecuma ierobežojums nomniekam:</h3></br>
<p class="dline"><font face="Trebuchet MS" size="4">Nomnieka/vadītāja minimālais vecums 20 gadi. Vadītājiem, kas jaunāki par 20 gadiem, tiek aprēķināts papildus maksājums 8 € / dienā.</br>
Auto piegāde un nodošana.</br>
Piegāde Rīgā un Rīgas lidostā par brīvu (rezervējot automašīnu mājalspā). Nodošana-mūsu birojā Rīgā, Stabu ielā 51a par brīvu, citā vietā – 15 €. Papildus maksa par </br>automašīnas nodošanu citās Latvijas pilsētās: pēc iepriekšējas vienošanās.</br>
Rezervācijas atcelšana:</br>
Atceļot rezervāciju, iemaksātā rezervācijas maksa netiek atgriezta.</br>
Papildus aprīkojums: Bērnu sēdeklītis- 19 € par visu nomas laiku; Navigācijas iekārta: TomTom- 3 € diennaktī.</br></br>
</p>

<h3>Sodi:</h3></br>
<p class="dline"><font face="Trebuchet MS" size="4">Sods par automašīnas dokumentu vai atslēgu nozaudēšanu ir 290 €. Visi sodi par administratīvo un satiksmes noteikumu pārkāpumiem, kas veikti automašīnas lietošanas laikā, </br>jāsedz nomniekam. Papildus administrācijas maksa 60 € tiks aprēķināta par katru sodu, administratīvo un satiksmes noteikumu pārkāpumu.</br></p></br>



<div class="bottom">
<p class="dline"><font face="Trebuchet MS" size="4" style="position:absolute; left:1300px; top:860px">
	Tālr.: +371 29666000 (visu diennakti)</br>
	Adrese: Stabu iela 51a-14</br>
	Rīga, LV 1011, Latvija</br>
	</p>
</div>


</body>
</html>

