<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Autonoma*</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<style>

   .cars {
    padding-bottom: 300px;
   }

</style>

<body bgcolor="#dedede">


	<div class="header">

		<p>

		</p>
	</div>


<div id="navbar">
	<a href="index.html">CAR4R3NT</a>

<a href="Kā rezervēt automašīnu.html">Kā rezervēt automašīnu</a>
<a href="Autonomas automašīnas.html">Autonomas automašīnas</a>
<a href="Autonomas noteikumi.html">Autonomas noteikumi</a>
<a href="Autonomas kontakti.html">Autonomas kontakti</a>
<a href="Autonomas cenas.html">Autonomas cenas</a>

<div class="topnav-right">
	<a href="Log-in.">Log in</a>
</div>

</div></br>




			<center><div class="block1"><br><br>
				<h1><font color="265C55" face="Trebuchet MS" size="6">Autonomas automašīnas</font></h1>
			<div class="cars">
			<img src="16.png" width="370" height="205 hspace="60" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>
			<div class="cars">
			<img src="12.png" width="370" height="170" hspace="60" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>
			<div class="cars">
			<img src="20.png" width="370" height="175" hspace="60" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>
			<div class="cars">
			<img src="3.png" width="390" height="200" hspace="" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>
			<div class="cars">
			<img src="6.webp" width="370" height="220" hspace="60" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>
			<div class="cars">
			<img src="5.png" width="370" height="205" hspace="60" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>
			<div class="cars">
			<img src="4.png" width="380" height="145" hspace="60" align="left">
			<font face="Trebuchet MS" color="265C55"></font>
			</div>


			<br><br></div></center>








	<div class="block10" style="position:absolute; left:520px; top:170px" color="red" width="710" height="405">
	</br></br>		
	<h3 style="position:absolute; left:35px; top:38px">Porsche 718 cayman</h3>
	<h3 style="position:absolute; left:580px; top:38px">No 150€ dienā</h3></h3>
	</div>
	<div class="block10" style="position:absolute; left:520px; top:460px" color="red" width="710" height="405">
	</br></br>		
	<h3 style="position:absolute; left:35px; top:38px">Tesla Roadster 2</h3>
	<h3 style="position:absolute; left:580px; top:38px">No 500€ dienā</h3></h3>
	</div>
	<div class="block10" style="position:absolute; left:520px; top:760px" color="red" width="710" height="405">
	</br></br>		
	<h3 style="position:absolute; left:35px; top:38px">McLaren 675lt</h3>
	<h3 style="position:absolute; left:580px; top:38px">No 250€ dienā</h3></h3>
	</div>
	<div class="block10" style="position:absolute; left:520px; top:1070px" color="red" width="710" height="405">
	</br></br>		
	<h3 style="position:absolute; left:35px; top:38px">McLareen GT</h3>
	<h3 style="position:absolute; left:580px; top:38px">No 400€ dienā</h3></h3>
	</div>
	<div class="block10" style="position:absolute; left:520px; top:1370px" color="red" width="710" height="405">
	</br></br>		
	<h3 style="position:absolute; left:35px; top:38px">Lamborghini aventodor</h3>
	<h3 style="position:absolute; left:580px; top:38px">N0 250€ dienā</h3></h3>
	</div>
	<div class="block10" style="position:absolute; left:520px; top:1670px" color="red" width="710" height="405">
	</br></br>		
	<h3 style="position:absolute; left:35px; top:38px">Ferrari 812 superfast</h3>
	<h3 style="position:absolute; left:580px; top:38px">NO 150€ dienā</h3></h3>
	</div>
	<div class="block10" style="position:absolute; left:520px; top:1950px" color="red" width="710" height="405">
	</br></br>		
	<h3 style="position:absolute; left:35px; top:38px">Ferrari 458 spider</h3>
	<h3 style="position:absolute; left:580px; top:38px">NO 250€ dienā</h3></h3>
	</div>




	<div class="block20" style="position:absolute; left:1300px; top:170px">
	
	<a href="#"><h3 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h3></a>
	</div>
	<div class="block20" style="position:absolute; left:1300px; top:460px">

	<a href="#"><h3 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h3></a>
	</div>
	<div class="block20" style="position:absolute; left:1300px; top:760px">
	
	<a href="#"><h3 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h3></a>
	</div>
	<div class="block20" style="position:absolute; left:1300px; top:1070px">
	
	<a href="#"><h3 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h3></a>
	</div>
	<div class="block20" style="position:absolute; left:1300px; top:1370px">
	
	<a href="#"><h3 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h3></a>
	</div>
	<div class="block20" style="position:absolute; left:1300px; top:1670px">
	
	<a href="#"><h3 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h3></a>
	</div>
	<div class="block20" style="position:absolute; left:1300px; top:1950px">	
	<a href="#"><h3 style="position:absolute; left:35px; top:38px">Lasīt vairāk →</h3></a>
	</div>




</body>
</html>

