<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Autonoma*</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<style>

  .semiopacity {
	 opacity: 0.1;  
	}

   .block1 {
   	width: 1750px;
      height: 887px;
   	background: #f0f0f0;
   	padding: 0px;
   	background-color: #ebebeb;
   	float: center;
      font-family: Verdana;
      
   }

</style>

<body bgcolor="#dedede">


	<div class="header">

		<p>

		</p>
	</div>


<div id="navbar">
	<a href="index.html">CAR4R3NT</a>

<a href="Kā rezervēt automašīnu.html">Kā rezervēt automašīnu</a>
<a href="Autonomas automašīnas.html">Autonomas automašīnas</a>
<a href="Autonomas noteikumi.html">Autonomas noteikumi</a>
<a href="Autonomas kontakti.html">Autonomas kontakti</a>
<a href="Autonomas cenas.html">Autonomas cenas</a>
</div>



				<div class="semiopacity">
				<img src="background.jpg" ; width="1750" height="943" hspace="60" style="position:absolute;
				left:px; top:20px"><br><br></div>

		<div class="block1" float="center">


		<p class="dline"><font face="Trebuchet MS" size="4" style="position:absolute;
				left:1120px; top:125px">

		</p></font><br><br><br></br></br>


		<p class="dline"><font face="Trebuchet MS" size="5" style="position:absolute;
				left:170px; top:225px">

           	<h1><font color="265C55" size ="6">&nbsp&nbsp&nbsp&nbsp&nbspKontakti</font></h1></br></br></br>

Birojs: Stabu ielā 51a-14, Rīga, LV-1011</br></br>

Lidosta Rīga: Tehnikas iela 1, Mārupe, LV-1053</br></br>

Vecrīga: Kaļķu iela 1, Rīga, LV-1050</br></br>

Rīgas pasažieru termināls: Eksporta iela 3A, Rīga, LV-1010</br></br>

Rīgas autoosta: Prāgas iela 1, Rīga, LV-1050</br></br>

Rīgas centrala stacija: Elizabetes iela 101, Rīga, LV-1050</br></br>

Tālrunis <b>+371 29666000</b>	 </br>
(diennakti)	 </br></br></br>

e-pasts:	<b>info@car4rent.lv</b></br></br>
 
Doties uz auto nomas <b>Car4r3nt</b> sākumlapu.</br></br>
		</p></font><br><br><br></br></br>

<img src="map.png" ; width="490" height="383" hspace="60" style="position:absolute;
				left:1170px; top:370px">



   

</body>
</html>


