<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Autonoma*</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<style>

  .semiopacity {
	 opacity: 0.1;  
	}

.bottom {
   	width: 1770px;
    height: 129px;
   	background-color: #dedede;
   }

   .block1 {
   	width: 1750px;
      height: 903px;
   	background: #f0f0f0;
   	padding: 0px;
   	background-color: #ebebeb;
      font-family: Verdana;
   }

</style>

<body bgcolor="#dedede">
					<div class="semiopacity">
				<img src="background.jpg" ; width="1750" height="941" hspace="60" style="position:absolute;
				left:px; top:20px"></div>



	<div class="header">

		<p>

		</p>
	</div>


<div id="navbar">
	<a href="index.html">CAR4R3NT</a>

<a href="Kā rezervēt automašīnu.html">Kā rezervēt automašīnu</a>
<a href="Autonomas automašīnas.html">Autonomas automašīnas</a>
<a href="Autonomas noteikumi.html">Autonomas noteikumi</a>
<a href="Autonomas kontakti.html">Autonomas kontakti</a>
<a href="Autonomas cenas.html">Autonomas cenas</a>

<div class="topnav-right">
	<a href="Log-in.">Log in</a>
</div>
</div></br>




		<div class="block1" float="center">






		<h1 class="dline"><font color="265C55" face="Trebuchet MS" size="5" style="position:absolute;
				left:120px; top:125px">
		Rezervācijas logs piedāvā iespēju ātri norezervēt automašīnu. Informācija, kura jānorāda rezervācijas logā:

		</h1></font><br><br><br></br></br>


				<img src="fix.png" width="270" height="270" hspace="60" style="position:absolute;
				left:1390px; top:180px" class="transparent25"><br><br>

		<p class="dline"><font face="Trebuchet MS" size="4" style="position:absolute;
				left:120px; top:200px">

	1) Auto nomas sākuma / beigu datums un laiks</br>
	2) Automašīnas saņemšanas/ nodošanas vieta</br>
	3) Automašīnas klase (jāatzīmē ar ķeksi)</br>
	4) Norādiet vēlamo papildaprīkojumu, ja Jums tas ir nepieciešams</br>
	5) aizpildiet datus par sevi</br>
	6) nospiediet pogu „Rezervēt un apmaksāt!"</br></br>

	Rezervējot un apmaksājot 19.00 EUR auto nomas pakalpojumus internetā, Jūs saņemsiet 15% atlaidi.</br></br>

	Automašīnas rezervācijas sākuma datumam ir jābūt par divām dienām lielākam nekā šodienas datumam.</br>
 	Tas ļauj mums garantēt, ka nomas automašīna no Jūsu izvēlētās klases būs pieejama vajadzīgajā laika periodā.</br></br>

	Ja vēlaties automašīnu pasūtīt šodien, lūdzam griezties pie Car4rent menedžera tel:  +371 29666000 (24h/7)</br></br>

	Ja, ievadot rezervācijas datumu un laiku, rezervācijas logs nepiedāvā nevienu mašīnu, tas nozīmē, ka visas automašīnas</br>
	iespējams, jau ir aizņemtas. Šādos gadījumos lūdzam sazināties ar Car4rent menedžeri tel: +371 29666000 (24h/7)</br></br></br>

	<b>Paldies!</b></br>



		</p></font><br><br><br></br></br>


	</div>



	<p class="dline"><font face="Trebuchet MS" size="4" style="position:absolute; left:1430px; top:860px">
	Tālr.: +371 29666000 (visu diennakti)</br>
	Adrese: Stabu iela 51a-14</br>
	Rīga, LV 1011, Latvija</br>
	</p>
   

</body>
</html>

