<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Autonoma*</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<style>


</style>

<body bgcolor="#dedede">


	<div class="header">

		<p>

		</p>
	</div>


<div id="navbar">
	<a href="index.html">CAR4R3NT</a>

<a href="Kā rezervēt automašīnu.html">Kā rezervēt automašīnu</a>
<a href="Autonomas automašīnas.html">Autonomas automašīnas</a>
<a href="Autonomas noteikumi.html">Autonomas noteikumi</a>
<a href="Autonomas kontakti.html">Autonomas kontakti</a>
<a href="Autonomas cenas.html">Autonomas cenas</a>

<div class="topnav-right">
	<a href="Log-in.">Log in</a>
</div>

</div></br>




				<img src="16.png" width="710" height="405" hspace="60" style="position:absolute;
				left:140px; top:420px"><br><br>

				<h1>
				<font face="Trebuchet MS" color="265C55"></font>
			</h1><br><br>





		<p class="dline"><font face="Trebuchet MS" size="4" style="position:absolute;
				left:1120px; top:125px">
	Auto noma CAR4R3NT piedāvā:</br>
	sportkarus nomu īstermiņā,</br>
	ilgtermiņa auto nomu,</br>
	bezmaksas nomas auto piegādi Rīgas robežās jebkurā laikā,</br>
	transfēra pakalpojumus Latvijā un Baltijas valstīs,</br>
	auto vadītāja pakalpojumus,</br>
	katru dienu 24 h palīdzību auto nomas klientiem,</br>
	rezervējot auto un apmaksājot 100.00  EUR pakalpojumu</br> internetā, atlaide – 10%</br>
		</p></font><br><br><br></br></br>


		<p class="dline"><font face="Trebuchet MS" size="4" style="position:absolute;
				left:120px; top:125px">
	Auto noma <font color="265C55">Car4r3nt</font> Rīgā</br>
	Lēta auto noma Rīgā, VIP limuzīnu īre</br>
	Auto noma Car4r3nt Rīgā: lēti, ērti un uz klientu orientēti.</br>
	Mūsu auto nomas galvenie pīlāri ir:</br>
	a) lētas auto nomas cenas,</br>
	b) nomas automašīnu bezmaksas piegāde Rīgā un Lidostā Rīga jebkurā brīdī, </br>
	c) plaša jaunu nomas auto izvēle, </br>
	d) palīdzība auto nomas klientiem 24 stundas diennaktī.</br>
		</p></font><br><br><br></br></br>

	<div class="car_box" style="position:absolute; left:131px; top:410px" width="1010" height="1405">
			</div>
	<div class="block10" style="position:absolute; left:131px; top:775px" color="red" width="710" height="405">
	</br></br>		
	<h3 style="position:absolute; left:35px; top:38px">BMW M4 Copmetition 2021</h3>
	<h3 style="position:absolute; left:580px; top:38px">NO 180€ dienā</h3></h3>
	</div>

<a href="index.html"><div id="circle" style="position:absolute; left:380px; top:890px"> </div></a>
<a href="second_dot.html"><div id="circle" style="position:absolute; left:410px; top:890px"> </div></a>
<a href="third_dot.html"><div id="circle" style="position:absolute; left:440px; top:890px"></div></a>
<a href="fourth_dot.html"><div id="circle" style="position:absolute; left:470px; top:890px"> </div></a>
<a href="fifth_dot.html"><div id="circle" style="position:absolute; left:500px; top:890px"> </div></a>
<a href="sixth_dot.html"><div id="circle" style="position:absolute; left:530px; top:890px"> </div></a>

	<p class="dline"><font face="Trebuchet MS" size="4" style="position:absolute; left:1430px; top:860px">
	Tālr.: +371 29666000 (visu diennakti)</br>
	Adrese: Stabu iela 51a-14</br>
	Rīga, LV 1011, Latvija</br>
	</p>
   

</body>
</html>

